{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content[:200] }}</p>
                <p class="card-text"><small class="text-muted">Posted on {{ post.date_posted.strftime('%Y-%m-%d') }} by {{ post.author.username }}</small></p>
                <a href="/post/{{ post.id }}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    {% else %}
        <p>No posts available.</p>
    {% endfor %}
{% endblock %}
